 /*div{
    width: 250px;
    height: 205px;
    background-color: rgba(164, 97, 226, 0.529);
} 
p{
    color: orange;
}
.caja  {
    width: 150px;
    height: 150px;
    background-color: rgb(234, 95, 95);
}
.otracaja{
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,255,0.32);

}
.una_caja_mas{
    width: 150px;
    height: 150px;
    background-color: #87d32c   ;
}
.capibara{
    width: 150px;
    height: 150px;
    background-color: hsl(0,100%, 50%);
}
*{
    color: #172865;
    font-weight: 600;
} 
#soy_unico{
    width: 250px;
    height: 250px;
    background-color: aqua;
}
a[title]{
    color: red;
}
button:hover{
    background-color: yellow;
    color: green;
}
input:disabled{
    background-color: red;
}
 p::first-line{
    color: green        ;
}
p::first-letter{
    color: red;
    font-size: 45px;
} 
.capibara1, .capibara2, .capibara3{
    width: 100px;
    height: 100px;
    background-color: rgb(188, 106, 188);
}
 .padre p{
    color: red;
}

selecciono los hijos de padre que son p 
p#unico.foo.bar.baz{
    color: green;
}
p#unico.foo{
    color: red !important;
}
.main{
    color: black;
    border: 2px solid #ccc;
    padding:1em;
}
.special{
    color: red;
    font-weight: bold;
}
.rectangulo{
    width: 450px;
    height: 250px;
    background-color: darkgoldenrod;
}
.caja{
    width: 50%;
    height: 250px;
    background-color:#87d32c;
}
.caja_interior{
    width: 50%;
    height: 50%;
    background-color: violet;
}
.caja_interior p{
    font-size: 2rem;
}
div{
    width: 50vw;
    height: 50vh;
    background-color: rgb(100, 211, 211);
}*/
body{
    margin: 0;
}
div{
    width: 250px;
    height: 250px;
    background-color: red;
    /*padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;*/
    padding: 25px;
    border:12px solid yellow;
    border-bottom: 12px dashed yellow;
    margin: 25px;

}